html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

@import "components/EventChart.less";
@import "vendor/slider.less";

.brew-node {
  .current-temperature {
    font-size: 7em;
  }
  .slider {
    width: 100%;
  }
}